# Default ignored files
/shelf/
/.idea/workspace.xml
/.idea/inspectionProfiles/
.idea/markdown.xml
.idea/misc.xml
.idea/modules.xml
.idea/so_answers.iml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/.gitignore
